@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
}
body{
	background-image: url(https://media.licdn.com/dms/image/C4D22AQHCLUcrM516rA/feedshare-shrink_800/0/1592050551995?e=2147483647&v=beta&t=7uGT3Lk9f9Jq8_DIayzawnUiI9X42VKI1eba5y6y5BA);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	position: fixed;
}

.nav{
	float: left;
	padding-left: 1%;
	margin-left: 1%;
	padding-top: 1%;
	width: 20%;
	height: 20px;
	margin-top: 3px;
}
nav{
	background-color: white;
}
form{
	margin-left: 500px;
	padding-top: 50px;
	height: 500px;
	width: 500px;
	background-color: skyblue;
	padding-left: 20px;
	margin-top: 10px;
}
tr{
	height: 80px;
}
input{
	height: 30px;
	width: 100%;
	margin-left: 30px;
	border: none;
}
button{
	height: 50px;
	width: 30%;
	margin-left: 120px;
	background-color: rgb(87, 227, 137);
	color: rgb(0, 0, 0);
	border: none;
}
