<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Ines-Library-System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>create</display-name>
    <servlet-name>create</servlet-name>
    <servlet-class>com.Ines.create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logservlet</display-name>
    <servlet-name>Logservlet</servlet-name>
    <servlet-class>com.Ines.Logservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logservlet</servlet-name>
    <url-pattern>/Logservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bookservlet</display-name>
    <servlet-name>Bookservlet</servlet-name>
    <servlet-class>com.Ines.Bookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookservlet</servlet-name>
    <url-pattern>/Bookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletServlet</display-name>
    <servlet-name>DeletServlet</servlet-name>
    <servlet-class>com.Ines.DeletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletServlet</servlet-name>
    <url-pattern>/DeletServlet</url-pattern>
  </servlet-mapping>

</web-app>